.modalOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-top: 23px;

    .modal {
        z-index: 3;
        width: 80%;
        background: #103533;
        margin-left: auto;
        border-radius: 18px 0 0 18px;
        color: #fff;

        .modalContent {
            display: flex;
            align-items: flex-start;
            padding: 16px 18px 18px 16px;

            .modalClose {}

            .btnCor {
                margin-left: auto;
            }

            .btnMenu {
                margin-right: 0;
                padding-top: 7px;
                margin-left: 24px;
            }
        }

        .menuList {
            border-top: 2px solid rgba(217, 217, 217, 0.6);

            li {

                button {
                    padding: 35px 0 8px 24px;
                    border-bottom: 2px solid rgba(217, 217, 217, 0.6);
                    font-weight: 500;
                    font-size: 20px;
                    width: 100%;
                    text-align-last: left;
                    color: #fff;
                }
            }

        }

        .infoBox {
            padding: 42px 24px;

            .socialBox {
                display: flex;
                gap: 32px;
                margin-bottom: 24px;
            }

            p {
                font-size: 16px;
                font-weight: 200;
            }

            .cartText {
                margin-top: 41px;
                display: block;
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 16px;

            }
        }

    }
}