
@mixin xs {
  @media screen and (min-width: 576px) {
    @content;
  }
}
@mixin sm {
  @media screen and (min-width: 640px) {
    @content;
  }
}
@mixin md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin xl {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
@mixin xxl {
  @media screen and (min-width: 1640px) {
    @content;
  }
}

//DESKTOP FIRST
@mixin maxXs {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin maxSm {
  @media screen and (max-width: 640px) {
    @content;
  }
}
@mixin maxMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin maxLg {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin maxXl {
  @media screen and (max-width: 1280px) {
    @content;
  }
}
@mixin maxXxl {
  @media screen and (max-width: 1240px) {
    @content;
  }
}

//USAGE
 .h555 {
   font-size: 20px;
   line-height: 20px;
   font-weight: 400;

   @include lg {
     font-size: 20px;
     line-height: calc(20px * 1.5);
   }

   @include maxLg {
     font-size: 20px;
     line-height: calc(20px * 2.5);
   }
 }

