//Reset default CSS and add some basic global styles
@import 'fonts';
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  scrollbar-face-color: #5e48c5;
  scrollbar-color: #5e48c5;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #5e48c5;
    border-radius: 16px;
  }
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

span {
  display: inline-block;
}

html,
body {
  font-size: 14px;
  line-height: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Radio Canada', sans-serif;
  background: #1E1D1D;
}


body {
  scroll-behavior: smooth !important;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  overflow-x: hidden !important;
}

label {
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  font: inherit;
  color: inherit;
}


ul,
li {
  list-style-type: none;
}

img,
svg {
  vertical-align: top;
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

/*INPUTS AND BUTTONS*/

input,
button,
textarea,
select {
  font: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

input,
textarea {
  &::placeholder {
    text-transform: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    transition: 0.4s linear;
  }
}

// hide placeholder on focus
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus::-ms-input-placeholder {
  color: transparent;
}
input:focus::placeholder {
  color: transparent;
}

// input type search remove clear button
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}

// Number remove arrow
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
  font: inherit;
  background-color: transparent;
  text-transform: inherit;
  color: inherit;
  outline: none;
}

.react-tel-input {
  max-width: 100% !important;
  width: 100% !important;

  .form-control {
    max-width: 100% !important;
    width: 100% !important;
    background: transparent !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    border: none !important;
    outline: none !important;
    border-bottom: 1px solid #8265d5 !important;
    color: white !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 24px !important;
    letter-spacing: 0.5px !important;
    margin-bottom: 15px !important;
  }

  .flag-dropdown {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    height: 30px !important;
    &:hover {
      background: black !important;
    }

    .selected-flag {
      background: transparent !important;

      transform: scale(1.5) !important;

      &:hover {
        background: transparent !important;
      }
    }
    .country-list {

      .country {
        &:hover {
        }
      }
      .highlight {
      }
    }
  }
}



