.btnHeader {
    padding: 24px;
    padding-top: 18px;

    .btnBox {
        display: flex;
        gap: 24px;
        justify-content: right;
        align-items: flex-end;

        .btn {
            background-color: transparent;
            border: none;
        }
    }
}

.btnHeaderMenu {
    padding: 35px 28px 35px 32px;
    background: #DA5541;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btnBox {
        display: flex;
        gap: 24px;
        justify-content: right;
        align-items: flex-end;

        .btn {
            background-color: transparent;
            border: none;
        }
    }

}

.btnPhone {
    position: fixed;
    border-radius: 50%;
    background: #DA5541;
    right: 40px;
    bottom: 40px;
    z-index: 100;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}