.footer {
    background: #103533;
    color: #fff;
    padding: 0 19px 95px 19px;

    .footerTitle {
        font-size: 28px;
        margin-bottom: 24px;
        font-weight: 600;
    }

    .footerTel {
        font-size: 24px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .socialBox {
        display: flex;
        gap: 16px;
        margin-top: 24px;
    }

    .footerText {
        font-size: 20px;
        margin-top: 24px;
        margin-bottom: 20px;
    }

    .footerEmail {
        font-size: 20px;
        display: flex;
        gap: 8px;
    }

    .workingTitle {
        margin-bottom: 24px;
        margin-top: 48px;
    }

    .workingList {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 24px;
        padding-right: 50px;
        margin-bottom: 60px;

        li {
            display: flex;
            justify-content: space-between;
        }
    }

    .cartText {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 24px;
        display: block;
    }

    .cartBox {
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 78px;
    }

    .line {
        border: 0.5px solid #DA5541;
        position: absolute;
        width: 100%;
        left: 0;
    }

    .textFooter {
        font-size: 14px;
        color: #F8F1E8;
        padding-top: 9px;
        display: block;
        text-align: center;
    }
}