.setsList {
    color: #fff;
    background: #103533;
    padding: 40px 16px;

    .title {
        font-size: 46px;
        text-align: center;
        margin-bottom: 40px;
    }

    .marginNone {
        margin: 0;
    }

    .setsUl {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .item {
            color: #fff;
            border-radius: 24px;
            border: 3px solid #000000;
            overflow: hidden;

            img {
                width: 100%;
                height: 300px;
                margin-bottom: -5px;
            }

            .imgBackground {
                position: relative;
                height: 300px;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                display: flex;
                justify-content: center;
                align-items: center;

                .text {
                    font-size: 22px;
                    font-weight: 200;
                }
            }

            .praysBox {
                display: flex;
                background: #DA5541;
                font-size: 22px;
                font-weight: 600;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 20px 0 10px;

                .name {
                    margin-right: 30px;
                }
            }

            .contentBox {
                padding: 13px 13px 25px 13px;

                .byBox {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    font-size: 20px;
                    font-weight: 200;
                }

                .btnBox {
                    display: flex;
                    margin-top: 10px;

                    .btnOrderBox {
                        display: flex;
                        width: 100%;

                        .btnBy {
                            margin-left: auto;
                        }

                        .btnPlusBox {
                            background-color: #DA5541;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 10px;
                            font-size: 20px;

                            button {
                                padding: 5px 20px;
                                font-size: 30px;
                                color: #fff;
                            }
                        }
                    }

                    .btnBy {
                        margin-left: auto;
                    }

                    .btnBy:disabled {
                        opacity: 0.3;
                    }
                }

            }
        }
    }

    .contentNullBox {
        padding: 60px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 24px;

        h2 {
            color: #DA5541;
            font-size: 24px;
            font-weight: 200;
            text-align: center;
        }
    }

    .contentOrder {
        display: flex;
        flex-direction: column;
        gap: 36px;
        align-items: center;
        padding-bottom: 100px;

        p {
            color: #DA5541;
            font-size: 24px;
            font-weight: 200;
            text-align: center;
        }
    }
}

.Order {
    background-color: #DA5541;
    border: none;
    color: #fff;
    border-radius: 46px;
    width: 70%;
    height: 64px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}